Patient Cases Paths:
('C:/Users/ionim/Documents/GitHub/History-Project-COVID19/Data\\!Global', ['Totals'], ['COVID19_2020_open_line_list - outside_Hubei.csv'])
('C:/Users/ionim/Documents/GitHub/History-Project-COVID19/Data\\China', [], ['COVID19_2020_open_line_list - Hubei.csv'])
('C:/Users/ionim/Documents/GitHub/History-Project-COVID19/Data\\South Korea', [], ['PatientInfo.csv'])
Total Cases Paths:
('C:/Users/ionim/Documents/GitHub/History-Project-COVID19/Data\\!Global\\Totals', [], ['time_series_19-covid-Confirmed.csv', 'time_series_19-covid-Deaths.csv', 'time_series_19-covid-Recovered.csv'])